In [1]:
import pandas as pd
import sqlalchemy as sql
import matplotlib.pyplot as plt
%matplotlib notebook

from tqdm import tqdm

# Data Dictionary

#### orders (415k rows): fact table, one record per order, includes useful time dimensions
- order_id: order identifier
- user_id: customer identifier
- order_number: the order sequence number for this user (1 = first, n = nth)
- order_dow: the day of the week the order was placed on
- Order_hour_of_day: hour of day the order was placed
- Days_since_prior_order: Number of days since that customer placed their previous order (NA for order_number = 1)

#### order_products (3.9M rows): fact table, one record per order, per product
_except for last order by a customer_
- order_id: foreign key
- product_id: foreign key
- add_to_cart_order: order in which each product was added to cart
- reordered: 1 if this product has been ordered by this user in the past, 0 otherwise

#### products (50k rows): Dimension table for product info
- product_id: product identifier
- product_name: name of the product
- aisle_id: foreign key
- department_id: foreign key

#### aisles (134 rows): Dimension table for aisle info
- aisle_id: aisle identifier
- aisle: the name of the aisle

#### departments (21 rows): Dimension table for department info
- department_id: department identifier
- department: the name of the department

In [2]:
engine = sql.create_engine('sqlite:///instacart.db')
db = {}

In [3]:
for table in ['orders', 'order_products', 'products', 'aisles', 'departments',]:
    db[table] = pd.read_sql_table(table, engine, index_col=0,)

In [4]:
# aliases
orders = db['orders']
orders.set_index('order_id', inplace=True)

ops = db['order_products']   # default index vs. multi-index on order_id + add_to_cart_order

products = db['products']
del(products['index'])       # index is one off from xxxx_id, confusing
products.set_index('product_id', inplace=True)

del(db['departments']['index'])
db['departments'].set_index('department_id', inplace=True)

del(db['aisles']['index'])
db['aisles'].set_index('aisle_id', inplace=True)

In [5]:
products_by_aisle = products.groupby('aisle_id')
products_by_dept = products.groupby('department_id')
get_dept_from_aisle = products_by_aisle['department_id'].unique()

In [6]:
get_aisles_from_dept = products_by_dept['aisle_id'].unique()

In [7]:
# confirm correspondence:
dept = 1
for aisle in get_aisles_from_dept[dept]:
    assert get_dept_from_aisle[aisle] == [dept]

In [120]:
len(orders)

414772

In [121]:
orders.index[14]

1492625

In [123]:
orders

,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,
2168274,2,1,2,11,NaN
1501582,2,2,5,10,10.0
1901567,2,3,1,10,3.0
738281,2,4,2,10,8.0
1673511,2,5,3,11,8.0
1199898,2,6,2,9,13.0
3194192,2,7,2,12,14.0
788338,2,8,1,15,27.0
1718559,2,9,2,9,8.0
1447487,2,10,1,11,6.0
1402090,2,11,1,10,30.0
3186735,2,12,1,9,28.0
3268552,2,13,4,11,30.0
839880,2,14,3,10,13.0
1492625,2,15,1,11,30.0
600894,8,1,6,0,NaN
2979257,8,2,1,8,30.0
2570360,8,3,5,0,30.0
880375,8,4,1,14,10.0
2411567,11,1,0,11,NaN
1170872,11,2,5,11,12.0
2840752,11,3,5,10,14.0
1611810,11,4,5,13,30.0
2921164,11,5,5,11,30.0
790927,11,6,5,11,7.0
1468214,11,7,5,9,30.0
1376945,11,8,6,11,8.0
1483446,12,1,1,12,NaN
1247527,12,2,5,9,30.0
1916106,12,3,5,8,14.0
...,...,...,...,...,...
538554,206206,39,6,19,1.0
1892815,206206,40,4,12,5.0
2139258,206206,41,6,18,2.0
3248325,206206,42,0,18,1.0
2344784,206206,43,1,20,1.0
3394383,206206,44,6,18,5.0
2406545,206206,45,0,15,1.0
140723,206206,46,2,17,2.0
4277,206206,47,2,17,0.0
1843456,206206,48,3,18,15.0
3231224,206206,49,4,15,1.0
1706599,206206,50,1,16,4.0
2728978,206206,51,0,19,6.0
648225,206206,52,0,19,0.0
2960815,206206,53,2,18,9.0
930969,206206,54,1,17,6.0
2831508,206206,55,0,16,13.0
2349856,206206,56,4,15,4.0
2583219,206206,57,0,15,3.0
2475308,206206,58,0,15,0.0
2513015,206206,59,2,18,2.0
1506726,206206,60,1,14,6.0
137205,206206,61,1,12,7.0
1851867,206206,62,3,18,2.0
1141047,206206,63,5,20,2.0
2643521,206206,64,0,17,2.0
2750895,206206,65,3,14,10.0
2986341,206206,66,3,9,14.0
1904200,206206,67,0,13,11.0
1043943,206206,68,0,20,0.0

# Product segmentation

### Can products be separated into groups by their properties, e.g. the store they come from or the customers who buy them?

Hypothesis 1:
Orders come from discrete retailers; product assortment will be largely or entirely separate depending on store.

Test method:
Build a graph of all products. Products will be connected to other products that they share an order with, this will determine whether there are entirely disjoint sections of product graph

In [8]:
ops = pd.merge(ops, products, left_on='product_id', right_index=True).sort_values('order_id')   
# add product details to order_products: name, aisle_id, department_id

In [9]:
ops.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
8,2,43668,9,0,Classic Blend Cole Slaw,123,4
7,2,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13
5,2,17794,6,1,Carrots,83,4
4,2,30035,5,0,Natural Sweetener,17,13

In [10]:
# note for me - series.value_counts() is nice
ops.groupby('product_name').size().sort_values(ascending=False)[:10]
ops.product_name.value_counts()[:10]

Banana                    58231
Bag of Organic Bananas    45699
Organic Strawberries      32203
Organic Baby Spinach      29380
Organic Hass Avocado      25958
Organic Avocado           21642
Large Lemon               18581
Limes                     17399
Strawberries              17217
Organic Whole Milk        16468
Name: product_name, dtype: int64

In [14]:
real_products = set(ops.product_id.unique())   # there are products in db['products'] that are not in any orders
len(real_products)

42814

In [15]:
products['product_id'] = products.index.values  # can't apply function to index, so duplicate it

In [17]:
products_in_order = ops.groupby('order_id')['product_id'].unique()  # takes ~1 min to build

In [79]:
ops.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
8,2,43668,9,0,Classic Blend Cole Slaw,123,4
7,2,1819,8,1,All Natural No Stir Creamy Almond Butter,88,13
5,2,17794,6,1,Carrots,83,4
4,2,30035,5,0,Natural Sweetener,17,13

In [76]:
from collections import defaultdict

'''
ProductGraph provides a measure of likelihood between products based on number of orders in which A,B overlap.
Note that this is NOT a measure of similarity, i.e. bananas and bag-of-bananas are likely far apart.
'''

class ProductGraph:
    def __init__(self, order_records):
        # order_records[i] => {items in order i}
        # i.e. a groupby object
        self.records = order_records.groupby('order_id')['product_id'].unique()
        
        # graph is from a product to other products that are connected by an order
        # graph[A] = {B: number of orders containing both A & B}
        self.graph = {i: defaultdict(int) for i in order_records.product_id.unique()}
        
        # order_records.product_id.value_counts()[]
        self.orders_for_product = order_records.product_id.value_counts()
        
    def add_order_items(self, order_items):
        # add a collection of items to network;
        # each connection is incremented by one
        # order n^2 but only has to run once...
        for active_item in order_items:
            for second_item in [item for item in order_items if item != active_item]:
                self.graph[active_item][second_item] += 1
                
    def add_order_number(self, order_number):
        order_items = self.records[order_number]
        self.add_order_items(order_items)
        
    def build_graph(self):
        for order_no in tqdm(self.records.index):
            self.add_order_number(order_no)
            
    def find_all_connections_from(self, start_node):
        # BFS on graph to find indirectly-connected products
        q = []
        q.append(start_node)
        visited = set()
        while q:
            node = q.pop()  # node we are on
            if node in visited:
                continue
            else:
                visited.add(node)
                for key in self.graph[node].keys():
                    q.append(key)
        return visited
        
    def likelihood(self, node_1, node_2):
        # distance from 1 to 2 also returns popularity of node_2
        dist = self.graph[node_1][node_2]
        if dist:
            return dist, self.orders_for_product[node_2]
        else:
            return 0, 0

In [77]:
g = ProductGraph(ops)  # slow-ish, runs 2 groupby operations

In [78]:
g.build_graph()

100%|██████████| 389772/389772 [01:01<00:00, 6365.94it/s]

In [30]:
connected_to_ = g.find_all_connections_from(14)

In [31]:
len(connected_to_)  # fully connected graph except for products only purchased alone

42783

In [32]:
singletons = [p for p in real_products if p not in connected_to_]

In [33]:
products.loc[singletons[:10]]  # weirdo product

,product_name,aisle_id,department_id,product_id
product_id,,,,
1470,Elastic Bandage With Clips for Customized Comp...,118,11,1470
1533,Organic 100% Juice Variety,98,7,1533
3058,Sunscreen Lotion Face Oil-Free SPF 70+,73,11,3058
4882,Tape,6,2,4882
6206,Calcium Magnesium Zinc Tablets,47,11,6206
10381,Chocolate Mousse Cake,8,3,10381
10382,Spirulina Pacifica Powder,47,11,10382
10870,Blue Label Year of the Ram,124,5,10870
12698,Stress B-Complex with Vitamin C & Zinc,47,11,12698
13185,"Vitamin C, 500 mg, Chewable Wafers, Mixed Fruit",47,11,13185

In [34]:
top_ten_k = ops.product_id.value_counts().keys()[:10000]

In [75]:
g.distance(34, 47762)

In [162]:
def recommend(order_items, alike=g.likelihood, options=top_ten_k, oddity=.75):
    '''
    take a list of order items; compute distance using ProductGraph.distance
    return most likely additions from top 1000 products
    '''
    best_item = None
    best_score = 0
    for option in options:
        option_score = 0
        for my_item in order_items:
            if my_item == option:
                break
            else:
                score, pop = alike(my_item, option)
                if score:
                    option_score += score / pop ** oddity  # arbitrary similarity metric discounts popular products
        if option_score > best_score:
            best_score = option_score
            best_item = option
    return best_item, best_score

In [163]:
recommend(products_in_order[2])

(44359, 2.1567701317345294)

In [200]:
def generate_recs(i):
    try:
        basket = products_in_order[orders.index[i]]
        last = basket[-1]
        basket = basket[:-1]
    except KeyError:
        print('order_id {} exists in orders.index, but contains no items. \n'.format(orders.index[i]))
        return None
    
    print('\n' + '+ ' * 30 + '\n')
    print(products.loc[basket].product_name)

    for oddity in [.5, .7, 1, 1.5, 2.5, 4]:
        print('\n oddity factor: {}'.format(oddity))
        item, score = recommend(basket, oddity=oddity)
        if item:
            print(products.loc[item].product_name)
        
    print()
    print('actual final item: {}'.format(products.loc[last].product_name))
        
    print()
    return item

In [202]:
for _ in range(5):
    o = pd.np.random.randint(0, 100000)
    generate_recs(o)

+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + +

product_id
25199                       Classic Chicken Salad
14197                                Tomato Paste
13853                       Caesar Salad Dressing
25890           Boneless Skinless Chicken Breasts
21137                        Organic Strawberries
21607                 Gluten Free Vanilla Granola
30480                      Tomatoes, Whole Peeled
311      Naturals Savory Turkey Breakfast Sausage
32689                              Romaine Hearts
37524                       Fresh Mozzarella Ball
6985                                Alfredo Sauce
Name: product_name, dtype: object

 oddity factor: 0.5
Bag of Organic Bananas

 oddity factor: 0.7
Organic Hass Avocado

 oddity factor: 1
Multigrain Pop Cakes

 oddity factor: 1.5
Burrata Mozzarella Cheese

 oddity factor: 2.5
Burrata Mozzarella Cheese

 oddity factor: 4
Burrata Mozzarella Cheese

actual final item: Organic Baby Arugula


+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + +

product_id
43905                        Butter & Herb Mashed Potatoes
16797                                         Strawberries
42913                           Iceberg Garden Salad Blend
12323              Fresh Cut Cream Style Golden Sweet Corn
23549                                     Chili With Beans
31670                      Buttermilk Complete Pancake Mix
35147                       Medium Roast Whole Bean Coffee
9076                                           Blueberries
14161                                                 Kiwi
19863                                 Classic Potato Chips
2563     Roasted Garlic & Parmesan Baby Reds Mashed Pot...
36664                                  Baked Soft Pretzels
39790                                     Magnesium 250 mg
41984                                   Margarine Quarters
35359                         Original Choice Dry Cat Food
3229     Rich & Hearty Chicken Corn Chowder Flavored wi...
Name: product_name, dtype: object

 oddity factor: 0.5
Banana

 oddity factor: 0.7
Magnesium 250 mg

 oddity factor: 1
Magnesium 250 mg

 oddity factor: 1.5
Magnesium 250 mg

 oddity factor: 2.5
Magnesium 250 mg

 oddity factor: 4
Magnesium 250 mg

actual final item: Rich & Hearty Creamy Roasted Chicken Wild Rice Soup


+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + +

product_id
45866    Fig Newmans Fruit Filled Cookies
13249                           Skim Milk
13176              Bag of Organic Bananas
21616                Organic Baby Arugula
Name: product_name, dtype: object

 oddity factor: 0.5
Organic Hass Avocado

 oddity factor: 0.7
Organic Hass Avocado

 oddity factor: 1
Probugs Pretty Plain Whole Milk Kefir

 oddity factor: 1.5
Probugs Pretty Plain Whole Milk Kefir

 oddity factor: 2.5
Probugs Pretty Plain Whole Milk Kefir

 oddity factor: 4
Probugs Pretty Plain Whole Milk Kefir

actual final item: Organic Fat Free Cottage Cheese

order_id 2028409 exists in orders.index, but contains no items.


+ + + + + + + + + + + + + + + + + + + + + + + + + + + + + +

product_id
28785               Organic Tahini
47626                  Large Lemon
24852                       Banana
4605                 Yellow Onions
28849    No Salt Added Black Beans
49683               Cucumber Kirby
24964               Organic Garlic
16185         Sharp Cheddar Cheese
Name: product_name, dtype: object

 oddity factor: 0.5
Organic Avocado

 oddity factor: 0.7
Organic Avocado

 oddity factor: 1
Natural Atrisan Granola Original

 oddity factor: 1.5
Natural Atrisan Granola Original

 oddity factor: 2.5
Organic Petite Diced Tomatoes

 oddity factor: 4
Organic Petite Diced Tomatoes

actual final item: Peanut Butter Creamy With Salt